.square {
    background: #fff;
    color: rgba(114, 228, 110, 0.897);
    float: left;
    font-size: 40px;
    font-weight: bold;
    
    height: 100px;
    font-family: 'Questrial', sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}